body{
    margin: 0;
	text-align: center;
    font-family: "Fuzzy Bubbles", sans-serif;
}
#heading{
    margin: 0;
    text-align: center;
    background:  #b7e4c7;
    padding: 20px 0;
}

#city-view{
    display: flex;
    flex-direction: column;
    margin: 0;
    height: 400px;
    background-image: url(Images/CapeTownOver.jpeg);
    background-size:cover;
    background-position: center;
    color: white;
    border-radius: 10px;
    text-shadow: 0 0 2px black;
        
}
#city-name {
     width: 200px;
    margin:200px auto 5px auto;
    padding :5px 10px;
    background:#637444 ;
    border-radius: 20px;
     
    

}
#city-act{
    width: 300px;
    margin: 0px auto 10px auto;
    background: #A0AF84;
    border-radius: 20px;
    padding :5px 10px;
}

#to-do{
    display: flex;
    justify-content: center;
    background: #b7e4c7;
    align-items: start;
    
    
    
}
.card{
    width: 300px;
    text-align: center;
    padding: 30px 30px;
}


.card-img{
    padding: 0;
    border: 2px solid rgb(87, 87, 110);
    border-radius: 100%;
    width:150px;
    height: 150px;
    margin: 20px auto;
}

#avatar {
    width: 250px;
}

#tour-guide {
    width: 500px;
    height: 300px;
    margin: 100px auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #cad2c5;
    color: #6d6875;
    border-bottom: 6px solid #2f3e46;
    text-shadow:0 0 1px black;
    border-radius: 10px;
        
}
.guide-info{
    padding:0 50px;
}

#picture {
    
    margin: 20px auto;
    border-radius: 10%;
    height: 400px;
    width: 500px;
}
.buttons {
    padding: 10px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    
}
#next, #pre{
    background-color: #bc4749;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
    font-family: "Fuzzy Bubbles", sans-serif;
    text-shadow: 0px 0px 2px black;
    font-size: medium;
}
